<p><%= @user.name %>さん</p>

<p>パスワード再設定のリクエストを受け付けました。</p>

<p>以下のリンクをクリックして、新しいパスワードを設定してください。</p>

<p>
  <%= link_to "パスワードを再設定する", @reset_url %>
</p>

<p>このリンクの有効期限は15分です。</p>

<p>このメールに心当たりがない場合は、そのまま破棄してください。</p>
