<div class="top-wrapper">

  <div class="top-hero">

    <h1 class="top-logo">
      あの時の欲しいを<br>
      ちゃんと叶える。
    </h1>

    <p class="top-subtitle">
      SNSで見かけた「欲しいもの」、<br>
      スクリーンショットのままで溜まっていませんか？<br>
      <br>
      このアプリでは、スクショ画像をアップするだけで<br>
      AIが商品名やショップを読み取り、<br>
      あなたの「欲しいもの」を自動でリスト化します。<br>
      ショップごとにまとめてチェックできるから、<br>
      実店舗でもオンラインでも、買い物がもっとスムーズに。<br>
    </p>

    <div style="text-align: center;">
      <p>「欲しい」を、迷わず、後悔なく。</p>

    <div class="top-buttons">
      <%= link_to "ログイン", login_path, class: "top-login-button" %>
      <%= link_to "新規登録", new_user_path, class: "top-register-button" %>
    </div>

  </div>

</div>