<div class="top-wrapper">

  <div class="top-hero">

    <h1 class="top-logo">
      ScreenShot Okaimono
    </h1>

    <p class="top-subtitle">
      SNSで見つけた「欲しい」を<br>
      スクリーンショットから整理するアプリ
    </p>

    <div class="top-buttons">
      <%= link_to "ログイン", login_path, class: "top-login-button" %>
      <%= link_to "新規登録", new_user_path, class: "top-register-button" %>
    </div>

  </div>

</div>