body {
  margin: 0;
  font-family: sans-serif;
  background-color: #E5DCD2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.top-container {
  text-align: center;
  padding: 100px;
}